In [49]:
import requests
import pandas as pd
import numpy as np
import json as js
import datetime as dt
from datetime import timedelta
import time

In [50]:
df = pd.read_csv("data/coinbase_data.csv")

In [51]:
df

,time,low,high,open,close,volume,id
0,2022-01-01 00:00:00,0.416200,0.420400,0.416600,0.419200,2.633730e+04,POWR-USD
1,2022-01-01 01:00:00,0.419200,0.425000,0.419900,0.421100,5.698080e+04,POWR-USD
2,2022-01-01 02:00:00,0.418600,0.422900,0.421100,0.418600,2.797330e+04,POWR-USD
3,2022-01-01 03:00:00,0.418500,0.420400,0.418900,0.418600,2.638640e+04,POWR-USD
4,2022-01-01 04:00:00,0.417300,0.419700,0.419400,0.418300,1.690010e+04,POWR-USD
...,...,...,...,...,...,...,...
1542016,2022-05-27 12:00:00,0.000128,0.000136,0.000132,0.000131,7.154788e+08,WLUNA-USDT
1542017,2022-05-27 13:00:00,0.000122,0.000133,0.000131,0.000127,8.810327e+08,WLUNA-USDT
1542018,2022-05-27 14:00:00,0.000118,0.000130,0.000127,0.000128,1.033588e+09,WLUNA-USDT
1542019,2022-05-27 15:00:00,0.000114,0.000129,0.000129,0.000121,4.144895e+09,WLUNA-USDT
1542020,2022-05-27 16:00:00,0.000123,0.000128,0.000124,0.000126,1.736733e+07,WLUNA-USDT

In [52]:
df['id'] = df['id'].str.replace('-', '')

In [53]:
df

,time,low,high,open,close,volume,id
0,2022-01-01 00:00:00,0.416200,0.420400,0.416600,0.419200,2.633730e+04,POWRUSD
1,2022-01-01 01:00:00,0.419200,0.425000,0.419900,0.421100,5.698080e+04,POWRUSD
2,2022-01-01 02:00:00,0.418600,0.422900,0.421100,0.418600,2.797330e+04,POWRUSD
3,2022-01-01 03:00:00,0.418500,0.420400,0.418900,0.418600,2.638640e+04,POWRUSD
4,2022-01-01 04:00:00,0.417300,0.419700,0.419400,0.418300,1.690010e+04,POWRUSD
...,...,...,...,...,...,...,...
1542016,2022-05-27 12:00:00,0.000128,0.000136,0.000132,0.000131,7.154788e+08,WLUNAUSDT
1542017,2022-05-27 13:00:00,0.000122,0.000133,0.000131,0.000127,8.810327e+08,WLUNAUSDT
1542018,2022-05-27 14:00:00,0.000118,0.000130,0.000127,0.000128,1.033588e+09,WLUNAUSDT
1542019,2022-05-27 15:00:00,0.000114,0.000129,0.000129,0.000121,4.144895e+09,WLUNAUSDT
1542020,2022-05-27 16:00:00,0.000123,0.000128,0.000124,0.000126,1.736733e+07,WLUNAUSDT

In [54]:
df2 = pd.read_csv("data/binance_data.csv")

In [55]:
df2

,Unnamed: 0,datetime,open,high,low,close,volume,symbol
0,2022-01-01 00:00:00,1.641013e+12,46709.760000,47535.430000,46680.580000,47197.660000,2.299990e+00,BTCTUSD
1,2022-01-01 01:00:00,1.641017e+12,47159.200000,47314.600000,46968.650000,46968.650000,2.248710e+00,BTCTUSD
2,2022-01-01 02:00:00,1.641020e+12,47016.820000,47172.690000,46919.680000,47145.350000,5.190310e+00,BTCTUSD
3,2022-01-01 03:00:00,1.641024e+12,47210.380000,47295.530000,47087.270000,47106.930000,3.718170e+00,BTCTUSD
4,2022-01-01 04:00:00,1.641028e+12,47095.050000,47225.420000,46946.060000,47110.250000,3.079010e+00,BTCTUSD
...,...,...,...,...,...,...,...,...
1087767,2022-05-31 20:00:00,1.654042e+12,0.021220,0.021731,0.020900,0.021590,2.530830e+07,USTCBUSD
1087768,2022-05-31 21:00:00,1.654045e+12,0.021590,0.022457,0.021125,0.021215,3.380712e+07,USTCBUSD
1087769,2022-05-31 22:00:00,1.654049e+12,0.021215,0.021387,0.020700,0.020956,2.812921e+07,USTCBUSD
1087770,2022-05-31 23:00:00,1.654052e+12,0.020955,0.021100,0.020700,0.020839,1.621105e+07,USTCBUSD
1087771,2022-06-01 00:00:00,1.654056e+12,0.020837,0.020908,0.019200,0.019405,5.959462e+07,USTCBUSD

In [56]:
df2['datetime'] = df2['datetime']- 18000000
df2['datetime'] = pd.to_datetime(df2['datetime'], unit = 'ms')
df2.head()

,Unnamed: 0,datetime,open,high,low,close,volume,symbol
0,2022-01-01 00:00:00,2022-01-01 00:00:00,46709.76,47535.43,46680.58,47197.66,2.29999,BTCTUSD
1,2022-01-01 01:00:00,2022-01-01 01:00:00,47159.20,47314.60,46968.65,46968.65,2.24871,BTCTUSD
2,2022-01-01 02:00:00,2022-01-01 02:00:00,47016.82,47172.69,46919.68,47145.35,5.19031,BTCTUSD
3,2022-01-01 03:00:00,2022-01-01 03:00:00,47210.38,47295.53,47087.27,47106.93,3.71817,BTCTUSD
4,2022-01-01 04:00:00,2022-01-01 04:00:00,47095.05,47225.42,46946.06,47110.25,3.07901,BTCTUSD

In [57]:
df2

,Unnamed: 0,datetime,open,high,low,close,volume,symbol
0,2022-01-01 00:00:00,2022-01-01 00:00:00,46709.760000,47535.430000,46680.580000,47197.660000,2.299990e+00,BTCTUSD
1,2022-01-01 01:00:00,2022-01-01 01:00:00,47159.200000,47314.600000,46968.650000,46968.650000,2.248710e+00,BTCTUSD
2,2022-01-01 02:00:00,2022-01-01 02:00:00,47016.820000,47172.690000,46919.680000,47145.350000,5.190310e+00,BTCTUSD
3,2022-01-01 03:00:00,2022-01-01 03:00:00,47210.380000,47295.530000,47087.270000,47106.930000,3.718170e+00,BTCTUSD
4,2022-01-01 04:00:00,2022-01-01 04:00:00,47095.050000,47225.420000,46946.060000,47110.250000,3.079010e+00,BTCTUSD
...,...,...,...,...,...,...,...,...
1087767,2022-05-31 20:00:00,2022-05-31 19:00:00,0.021220,0.021731,0.020900,0.021590,2.530830e+07,USTCBUSD
1087768,2022-05-31 21:00:00,2022-05-31 20:00:00,0.021590,0.022457,0.021125,0.021215,3.380712e+07,USTCBUSD
1087769,2022-05-31 22:00:00,2022-05-31 21:00:00,0.021215,0.021387,0.020700,0.020956,2.812921e+07,USTCBUSD
1087770,2022-05-31 23:00:00,2022-05-31 22:00:00,0.020955,0.021100,0.020700,0.020839,1.621105e+07,USTCBUSD
1087771,2022-06-01 00:00:00,2022-05-31 23:00:00,0.020837,0.020908,0.019200,0.019405,5.959462e+07,USTCBUSD

In [58]:
# change datetime to string format
df2['datetime'] = df2['datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

In [59]:
df2 = df2.drop(df2.columns[[0]], axis=1) 
df2

,datetime,open,high,low,close,volume,symbol
0,2022-01-01 00:00:00,46709.760000,47535.430000,46680.580000,47197.660000,2.299990e+00,BTCTUSD
1,2022-01-01 01:00:00,47159.200000,47314.600000,46968.650000,46968.650000,2.248710e+00,BTCTUSD
2,2022-01-01 02:00:00,47016.820000,47172.690000,46919.680000,47145.350000,5.190310e+00,BTCTUSD
3,2022-01-01 03:00:00,47210.380000,47295.530000,47087.270000,47106.930000,3.718170e+00,BTCTUSD
4,2022-01-01 04:00:00,47095.050000,47225.420000,46946.060000,47110.250000,3.079010e+00,BTCTUSD
...,...,...,...,...,...,...,...
1087767,2022-05-31 19:00:00,0.021220,0.021731,0.020900,0.021590,2.530830e+07,USTCBUSD
1087768,2022-05-31 20:00:00,0.021590,0.022457,0.021125,0.021215,3.380712e+07,USTCBUSD
1087769,2022-05-31 21:00:00,0.021215,0.021387,0.020700,0.020956,2.812921e+07,USTCBUSD
1087770,2022-05-31 22:00:00,0.020955,0.021100,0.020700,0.020839,1.621105e+07,USTCBUSD
1087771,2022-05-31 23:00:00,0.020837,0.020908,0.019200,0.019405,5.959462e+07,USTCBUSD

In [60]:
df.columns = ['datetime', 'low', 'high', 'open', 'close', 'volume', 'symbol'] # changeing the column names

In [61]:
df = df[['datetime', 'open', 'high', 'low', 'close', 'volume', 'symbol']] # reordering the columns

In [62]:
combined_df = pd.concat([df, df2]) # combining the two dataframes
combined_df.shape

(2629793, 7)

In [63]:
# removing duplicates from the combined dataframe and sorting it by datetime and symbol
# for duplicate keeping coinbase data is more reasonable choice since we are gonna use S&P500 and we are in US 
# there were 76567 duplicate rows 
combined_df = combined_df.drop_duplicates(subset=['datetime', 'symbol'], keep='first')

In [64]:
combined_df
combined_df.shape

(2583753, 7)

In [65]:
combined_df.to_csv("data/combined_crypto.csv") # saving the dataframe to a csv file

In [44]:
DATA1combined_df = pd.read_csv("data/combined_crypto.csv")
DATA1combined_df.head()

,Unnamed: 0,datetime,open,high,low,close,volume,symbol
0,0,2022-01-01 00:00:00,0.4166,0.4204,0.4162,0.4192,26337.3,POWRUSD
1,1,2022-01-01 01:00:00,0.4199,0.4250,0.4192,0.4211,56980.8,POWRUSD
2,2,2022-01-01 02:00:00,0.4211,0.4229,0.4186,0.4186,27973.3,POWRUSD
3,3,2022-01-01 03:00:00,0.4189,0.4204,0.4185,0.4186,26386.4,POWRUSD
4,4,2022-01-01 04:00:00,0.4194,0.4197,0.4173,0.4183,16900.1,POWRUSD

In [45]:
DATA1combined_df = DATA1combined_df.drop('Unnamed: 0', 1)

/var/folders/5g/b5hghd9x6gq7f3qsrm03q_r80000gn/T/ipykernel_3103/3959105324.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  DATA1combined_df = DATA1combined_df.drop('Unnamed: 0', 1)

In [46]:
DATA1combined_df
print(DATA1combined_df.shape)
print(combined_df.shape)

(2583753, 7)
(2583753, 7)

In [47]:
# contains symbol USD
combined_df_usd = combined_df[combined_df['symbol'].str.contains("USD")]

In [48]:
combined_df_usd.shape

(1910280, 7)

In [ ]:
combined_df_usd.to_csv(r"C:\Users\ASUS Zephyrus G15\crypto-prediction\data\combined_crypto_usd.csv") # saving the dataframe to a csv file

In [8]:
combined_df_btc = combined_df[combined_df['symbol'].str.contains("BUSD")]

In [9]:
combined_df_btc

,Unnamed: 0,datetime,open,high,low,close,volume,symbol
912237,915308,2022-01-01 00:00:00,0.000033,0.000034,0.000034,0.000034,8.835773e+09,SHIBUSDT
912238,915309,2022-01-01 01:00:00,0.000034,0.000034,0.000034,0.000034,9.442488e+09,SHIBUSDT
912239,915310,2022-01-01 02:00:00,0.000034,0.000034,0.000034,0.000034,6.510605e+09,SHIBUSDT
912240,915311,2022-01-01 03:00:00,0.000034,0.000034,0.000034,0.000034,4.232022e+09,SHIBUSDT
912241,915312,2022-01-01 04:00:00,0.000033,0.000034,0.000034,0.000034,9.855479e+09,SHIBUSDT
...,...,...,...,...,...,...,...,...
2250468,785014,2022-05-31 20:00:00,0.021220,0.021731,0.020900,0.021590,2.530830e+07,USTCBUSD
2250469,785015,2022-05-31 21:00:00,0.021590,0.022457,0.021125,0.021215,3.380712e+07,USTCBUSD
2250470,785016,2022-05-31 22:00:00,0.021215,0.021387,0.020700,0.020956,2.812921e+07,USTCBUSD
2250471,785017,2022-05-31 23:00:00,0.020955,0.021100,0.020700,0.020839,1.621105e+07,USTCBUSD
2250472,785018,2022-06-01 00:00:00,0.020837,0.020908,0.019200,0.019405,5.959462e+07,USTCBUSD